* {
    font-family: 'Roboto';
    font-weight: bold;
}


#mapid {
    height: 280px;
    width: 75%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

#close {
    margin-bottom: -30px;
    margin-left: 250px;
}

#close:hover {
    filter: invert(100%);
}

.clear-day {
    background-color: rgba(123, 213, 248, 0.89);
}

.clear-night {
    background-color: rgb(0, 62, 177);
    color: rgba(255, 255, 255, 0.76);
}

.cloudy-day {
    background-color: rgb(212, 212, 212);
}

.cloudy-night {
    background-color: rgb(96, 101, 109);
    color: rgba(255, 255, 255, 0.89)
}

#weatherCards {
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}

#location {
    font-size: 1.5em;
}

#timeOfDay {
    margin-top: -30px;
    font-size: 20px;
    font-weight: 100;
}

#feelsLike {
    display: flex;
    margin-top: -15px;
}
#feelsLike p {
    margin-left: 10px;
}

#dayLength {
    display: flex;
    margin-top: -25px;
}

#dayLength p {
    margin-left: 10px;
}

#temp-icon {
    display: flex;
}

#temperature {
    font-size: 40px;
    font-weight: bold;
    margin-top: -1px;
    margin-left: 20px;
}

#description {
    margin-top: -20px;
}

.descriptors {
    font-weight: 200;
}

#extrainfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: -20px;
}

#humidity {
    display: flex;
    margin-top: -25px;
}
#humidity p {
    margin-left: 10px;
}

#wind {
    margin-top: -25px;
    display: flex;
}
#wind p {
    margin-left: 10px;
}


#Clouds {
    animation: cloud-move 3s linear infinite alternate;
}

@keyframes cloud-move {
    0% {
        transform: translate(5px);
    }
    100% {
        transform: translate(0px);
    }
}

.fa-cloud {
    color: rgb(202, 193, 193);
}

.fa-snowflake {
    color: white;
    animation: spin2 30s infinite linear;
}

.fa-sun {
    color: yellow;
    animation: spin 30s infinite linear;
}

.fa-moon {
    color: rgb(235, 235, 235);
    animation: rotateSlight 5s infinite alternate;
}

@keyframes rotateSlight {
    100% {
        transform: rotate(20deg);
    }
}

.fa-cloud-showers-heavy {
    color: rgb(109, 204, 248);
}

.fa-smog {
    color: rgb(196, 196, 196);
}

@keyframes sparkle {
    0% {
        color: rgb(235, 235, 235);
    }
    100% {
        color: rgb(221, 221, 221);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    100% {
        transform: rotate(-360deg);
    }
}
.Rain {
    background-color: rgb(50, 190, 255);
    width: 10px; 
    height: 10px;
    border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
    transform: rotate(320deg);
    margin-left: 2px;
}

.raindrop1 {
    animation: 0.5s raining linear alternate infinite;
    animation-delay: 250ms;
}
  
.raindrop2 {
    animation: 0.5s raining linear alternate infinite;
    animation-delay: 500ms;
}
  
.raindrop3 {
    animation: 0.5s raining linear alternate infinite;
}

@keyframes raining {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 0.25;
    }
}


/*
#Clouds {
    background-color: rgb(197, 197, 197);
    width: 6em;
    height: 2em;
    border-radius: 50px;
}

/*

#Clouds:before {
    content: "";
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: inherit;
    transform: translate(15px, -25px);
}

#Clouds:after {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: inherit;
    transform: translate(50px, -60px);
}

#Clear {
    background-color: yellow;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-top: -20px;
}



