* {
    font-family: 'Roboto';
}


#mapid {
    height: 280px;
    width: 75%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

#weatherCards {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}

#temperature {
    font-size: 40px;
    font-weight: bold;
}

#Clouds {
    animation: cloud-move 3s linear infinite alternate;
}

@keyframes cloud-move {
    0% {
        transform: translate(5px);
    }
    100% {
        transform: translate(0px);
    }
}

.fa-cloud {
    color: rgb(207, 207, 207);
}

.fa-snowflake {
    color: white;
}

.fa-sun {
    margin-top: -25px;
    color: yellow;
    animation: spin 30s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
/*
#Clouds {
    background-color: rgb(197, 197, 197);
    width: 6em;
    height: 2em;
    border-radius: 50px;
}

/*

#Clouds:before {
    content: "";
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: inherit;
    transform: translate(15px, -25px);
}

#Clouds:after {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: inherit;
    transform: translate(50px, -60px);
}

#Clear {
    background-color: yellow;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-top: -20px;
}



